{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block contained_content %}
        <h3>{% trans "Change Password" %}</h3>

        <form method="POST" action="./" class="password_change">
            {% csrf_token %}
            {{ form|crispy }}
						<div class="row">
							<div class="col-12">
							<button class="btn  btn-outline-success btn-block" type="submit" name="action">{% trans "Change Password" %}</button>
							</div>
						</div>
        </form>
{% endblock %}

