
# PostgreSQL
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=django
CONN_MAX_AGE= 80
DATABASE_URL=postgres://django:<PASSWORD>@127.0.0.1:5432/paranuara_challenge

# Domain name, used by caddy
DOMAIN_NAME=paranaura.com

# General settings
DJANGO_ADMIN_URL='^developer/'
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY="yo-paranaura.comOFparanuara_challengeISt0t4liyFKNrockinAW#SMMNEMOROnxi57*J3f$%Y$3SS"
DJANGO_ALLOWED_HOSTS=.paranaura.com,127.0.0.1

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# CELERY_BROKER_URL='redis://localhost:6379' # Is this defined by default in settings?

# Email
DJANGO_MAILGUN_API_KEY=
MAILGUN_SENDER_DOMAIN=

# DJANGO_SERVER_EMAIL=robot@paranaura.com
# DEFAULT_FROM_EMAIL=Cooptive <noreply@paranaura.com>

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True




REDIS_URL=redis://127.0.0.1:6379
