{% if user.is_authenticated %}
{% load static %}
<div id="expander" style="min-width: 100%; " class="container-fluid expand closeForm none bg-dark-blue">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="float-right" style="margin-top: 15px;"><a href="#site" onClick="DjangoCommon.closeExpander()" class="anchor-scroll" data-target="#site" data-offset="0">
					<i data-toggle="tooltip" data-placement="left" title="close" class="icon-remove text-300"></i></a>
				</div>
			</div>
			<div id="expanderContent" class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2 mb-3">
				<img style="width: 20px; margin: 35% 0 0 50%;" src="{%  static 'icons/loader-blue.gif' %}">
			</div>
		</div>
	</div>
	<div class="spacer sixty"></div>
</div>
{% endif %}


