
<div class="container-fluid" id="banner">
	<div class="row" style="height: 100%">
		<div class="container" style="height: 100%">
			<div class="row" style="height: 90%">
				<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
					<div id="vsIconNav" class="text-center padded">
						<a class="banner-icon" href="#navbar"><h4 class="white"><span class="icon-logo white thin"></span></h4></a>
					</div>
					<div class="banner-title">
						<h1 class="display-2 padded-multi-line white">Welcome</h1>
					</div>
					<div class="banner-subtitle">
						<div>
						<h5 class="banner-description white">{{ site_name }} is here to help us achieve better decisions by working together on what is important to us.</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="row bottom-container">
				<div class="col-12 bottom-align">
					<nav class="text-center white">
						<a class="banner-icon" href="#something">
						<i class="vs-icon white thin"></i>
						</a>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

