{% load static i18n %}
	<nav id="navbar" class="navbar navbar-inverse bg-dark-blue" data-spy="affix" role="navigation">

			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="#menu-toggle" class="nav-link navbar-toggler-left menu-toggle anchor-scroll" data-offset="-5" id="menu-toggle"><i class="icon-three-bars"></i> </a>
				</li>
				<li class="navbar-brand ml-5 mt-1">
					<a href="#menu-toggle" class="menu-toggle anchor-scroll" data-offset="-5"><i class="vs-pola-text x-large"></i></a>
				</li>
				<li class="nav-item ml-md-5 ml-0 {% if user.is_authenticated %}mr-4{% else %}mr-auto{% endif %}">
{#					<a class="nav-link" href="{% url 'core:explore' %}" title="Explore"><span class="hidden-md-down">{% trans "Discover" %}</span><i class="vs-explore hidden-lg-up"></i></a>#}
				</li>

				{% if user.is_authenticated %}
					<li class="nav-item mr-auto">
{#						<a class="nav-link" href="{% url 'core:create' %}" title="Create"><span class="hidden-md-down">{% trans "Create" %}</span><i class="vs-create large mt-2 hidden-lg-up hidden-sm-down"></i></a>#}
					</li>
				{% endif %}

				<li class="nav-icon">
{#					<a href="{% if user.is_authenticated %}{% url 'core:dashboard' %}{% else %}{% url 'core:index' %}{% endif %}"><i class="vs-pola-icon larger"></i></a>#}
				</li>

				{% if user.is_authenticated %}
{#					<li class="nav-item ml-auto">#}
{#						<a class="nav-link" href="{% url 'core:dashboard' %}" title="My VS"><span class="hidden-md-down">{% trans "DASHBOARD" %}</span><i class="vs-dashboard hidden-lg-up"></i></a>#}
{#					</li>#}
					<li class="nav-item mr-1">
						<a class="nav-link" href="/learn/" title="Learn"><span class="hidden-md-down">{% trans "Learn" %}</span><i class="vs-learn large hidden-lg-up"></i></a>
					</li>
					<li class="nav-item ml-4 mr-4">
{#						<a class="nav-link" href="{% url 'core:dashboard' %}"><i class="vs-profile large" title="{% trans 'Profile' %}: {{ request.user }}" data-toggle="tooltip" data-placement="left"></i></a>#}
					</li>
					<li class="nav-item mr-4">
						<a class="nav-link" href="{% url 'account_logout' %}" title="{% trans 'Logout' %}"><i class="vs-exit"></i></a>
					</li>
				{% else %}
					<li class="nav-item mr-4">
{#						<a class="nav-link" href="{% url 'core:features' %}" title="{% trans 'Features' %}"><span class="hidden-md-down">{% trans "Features" %}</span></a>#}
					</li>
					<li class="nav-item mr-4">
						<a class="nav-link" href="{% url 'account_signup' %}" title="{% trans 'Sign Up' %}"><span class="hidden-md-down">{% trans "Sign Up" %}</span><i class="vs-lightning hidden-lg-up"></i></a>
					</li>
					<li class="nav-item mr-4">
						<a class="nav-link" href="{% url 'account_login' %}" title="{% trans 'Login' %}"><span class="hidden-md-down">{% trans "Login" %}</span><i class="vs-enter hidden-lg-up"></i></a>
					</li>
				{% endif %}
		</ul>
	</nav>
	<div id="navbar-spacer"></div>

