{% if request.user.is_superuser or request.is_staff %}
<div class="row">
	<div class="col-12">
		<div class="spacer thirty"></div>
	<div class="center">
{#		<a href="{% url 'tracker:tickets' %}" class="btn btn-outline-secondary padded">My Tickets</a>#}
{#		<a href="{% url 'tracker:road-map' %}" class="btn btn-outline-secondary padded">Road Map</a>#}
{#		<a href="{% url 'core:style-guide' %}" class="btn btn-outline-secondary padded">Style Guide</a>#}
{#		<a href="{% url 'forum:forum_structure' %}" class="btn btn-outline-secondary padded">Forum Structure</a>#}
{#		<a href="{% url 'forum:forum_roles' %}" class="btn btn-outline-secondary padded">Forum Roles</a>#}
		<a href="{% url 'admin:index' %}" class="btn btn-outline-secondary padded">Admin</a>
	</div>
	<div class="spacer twenty"></div>
	</div>
</div>
{% else %}
	<div class="spacer fifty"></div>
{% endif %}

